/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --main-height-text: 785;
    --height-text: 485;
    --background-color: #000000;
    --accent-color: #00CC14;
    --but-text-color: #00CC14;
    --back-gradient: repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #007F0C 0%, #004306 100%);
}

:root.theme-light {
    --main-height-text: 700;
    --height-text: 400;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --but-text-color: #fff;
    --back-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
