/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-text: 'Inter-Variables';
    --accent-text: 'PressStart2p';
    --main-height-text: 700;
    --height-text: 400;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --background-image: repeating-linear-gradient(#d3d3d3, transparent 2px), repeating-linear-gradient(90deg, #e7e7e7, #1a1a1a 2px);
    --accent-text-size: 14px;
    --main-text-size: 18px;
    --accent-text-size-heading: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    
    /*
    --header-margin-block: clamp(33%, 100px, 100%);
    --header-margin-inline: clamp(2px, 1px, 48.6%); */
    --header-padding-top: clamp(120px, 5vh, 136px);
    --header-padding-inline: clamp(14px, 2vh, 120.5px);
    --header-padding-bottom: clamp(1px, 25px, 100px);


    --border: 2px solid;
    --line-height: 21px;
}